#container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
}

.square_grid{
    flex: 0 0 calc(6.25% - 10px);
    height: 0;
    padding-bottom: calc(6.25% - 10px);
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.square_grid:hover{
    background-color: antiquewhite;
}

#resetBtn{
    padding: 10px;
    margin: 12px;
    width: 120px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(52, 115, 231);
}

#resetBtn:hover{
    background-color: rgb(106, 106, 230);
}