.column {
    display: flex;
    gap: 5px;
}

.row {
    flex: 1;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 3px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #f0f0f0;
    border: 1px solid;
}



.row:hover{
    background-color: rgb(238, 213, 179);
}

#resetBtn{
    padding: 10px;
    margin: 12px;
    width: 120px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(52, 115, 231);
}

#resetBtn:hover{
    background-color: rgb(106, 106, 230);
}